<h3>Add page</h3>

<form method='post' action =''>

	
	<div class='form-group'>
		<label for="alias">Alias</label><br/>
		<input type="text" id='alias' name='alias'  value="" class='from-control'  />

	</div>

	<div class='form-group'>
		<label for="title">Title</label><br/>
		<input type="text" id='title' name='title'  value="" class='from-control'  />

	</div>

	<div class='form-group'>
		<label for="content">Content</label>
		<textarea name="content" id = 'content' class="form-control"></textarea>

	</div>

	<div class='form-group'>
		<label for="is_published">Publish</label>
		<input type='checkbox' name='is_published' id ='is_published'  checked="checked"  />

	</div>

	<input type="submit" class='btn btn-success'>

</form>